# Connection string for Azure AI Project. Browse to your Azure AI Foundry project and copy the connection string from the "Project details" section
AZURE_PROJECT_CONNECTION_STRING="your_connection_string_here"
